In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, date

# User Engagement Table

In [16]:
engagement = pd.read_csv('takehome_user_engagement.csv')
engagement['time_stamp'] = pd.to_datetime(engagement['time_stamp'], format= '%Y/%m/%d %H:%M:%S')
engagement

                time_stamp  user_id  visited
0      2014-04-22 03:53:30        1        1
1      2013-11-15 03:45:04        2        1
2      2013-11-29 03:45:04        2        1
3      2013-12-09 03:45:04        2        1
4      2013-12-25 03:45:04        2        1
...                    ...      ...      ...
207912 2013-09-06 06:14:15    11996        1
207913 2013-01-15 18:28:37    11997        1
207914 2014-04-27 12:45:16    11998        1
207915 2012-06-02 11:55:59    11999        1
207916 2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]

In [17]:
def get_rolling_count(df, freq):
    return df.rolling(freq, on='time_stamp')['visited'].count()

engagement['visited_7days'] = engagement.groupby('user_id', as_index=False, group_keys=False).apply(get_rolling_count, freq='7D')

In [18]:
engagement

                time_stamp  user_id  visited  visited_7days
0      2014-04-22 03:53:30        1        1            1.0
1      2013-11-15 03:45:04        2        1            1.0
2      2013-11-29 03:45:04        2        1            1.0
3      2013-12-09 03:45:04        2        1            1.0
4      2013-12-25 03:45:04        2        1            1.0
...                    ...      ...      ...            ...
207912 2013-09-06 06:14:15    11996        1            1.0
207913 2013-01-15 18:28:37    11997        1            1.0
207914 2014-04-27 12:45:16    11998        1            1.0
207915 2012-06-02 11:55:59    11999        1            1.0
207916 2014-01-26 08:57:12    12000        1            1.0

[207917 rows x 4 columns]

In [30]:
adopted = engagement.loc[(engagement['visited_7days'] >= 3)]
adopted = adopted.drop_duplicates('user_id', keep = 'first')
adopted = adopted[['time_stamp', 'visited', 'user_id']]